@import './fonts/fonts';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    header {
        width: 1366px;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;

        .navigation {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 1200px;
            height: 50px;
        }
    }

    .aside {}

    .main {

        .container {
            display: flex;
            flex-direction: column;
            width: 940px;
            margin: 0 auto;
            padding: 0 213px;
        }
    }

    .footer {
        .container {
            display: flex;
            flex-direction: column;
            width: 940px;
            height: 845px;
            margin: 0 auto;
            padding: 0 213px;
            background: #316099;
            background-size: 90%;
            border-radius: 0px 200px 0px 0px;
        }
    }
}