@import '../../fonts/fonts';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    header {
        width: 1366px;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;

        .navigation {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 1200px;
            height: 50px;
        }
    }

    .aside {
        width: 1366px;
        height: 250px;
        background-image: url("../img/MaskGroup.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            padding-top: 10px;
            font-family: 'Gilroy';
            font-size: 44px;
            line-height: 74px;
            text-align: center;
            letter-spacing: 0.04em;
            color: #FFFFFF;
        }

        p {
            width: 55%;
            padding-bottom: 50px;
            font-family: 'Gilroy';
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.04em;
            color: rgba(255, 255, 255, 0.4);
        }
    }

    .main {

        .container {
            display: flex;
            flex-direction: column;
            width: 940px;
            margin: 0 auto;
            padding: 0 213px;


            .search {
                display: flex;
                margin-top: 50px;
                width: 100%;
                height: 55px;
                border: none;
                border-radius: 10px;
                background-color: #F4F4F4;

                .search-icon {
                    background-image: url("../img/icon-search.png");
                    background-repeat: no-repeat;
                    width: 8%;
                    height: 100%;
                    background-position-y: center;
                    background-position-x: 25px;
                }

                input {
                    width: 92%;
                    height: 100%;
                    border: none;
                    background-color: #F4F4F4;
                    padding: 0px;
                    margin: 0px;
                    border-radius: 10px;

                    &::placeholder {
                        padding-left: 10px;
                        font-family: 'Gilroy';
                        font-size: 16px;
                        line-height: 19px;
                        color: #1F3F68;
                        opacity: 0.6;
                    }
                }
            }

            .main-content {

                h3 {
                    margin-top: 55px;
                    margin-bottom: 30px;
                    font-family: 'Gilroy';
                    font-size: 20px;
                    line-height: 25px;
                    letter-spacing: 0.04em;
                    color: #356EAD;
                    opacity: 0.8;
                }

                .row-1 {
                    display: flex;

                    .item-1 {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h1 {
                            font-family: 'Galien';
                            font-size: 48px;
                            line-height: 58px;
                            letter-spacing: 0.04em;
                            color: #1F3F68;
                        }

                        p {
                            font-family: 'Gilroy';
                            font-size: 16px;
                            line-height: 26px;
                            letter-spacing: 0.04em;
                            color: #000000;
                            opacity: 0.6;
                        }

                        .view {
                            padding-top: 16px;
                            display: flex;
                            align-items: center;

                            p {
                                width: 122px;
                                font-family: 'Gilroy';
                                font-size: 14px;
                                line-height: 24px;
                                letter-spacing: 0.04em;
                                color: #1F3F68;
                            }

                            span {
                                font-family: 'Gilroy';
                                font-size: 14px;
                                line-height: 24px;
                                letter-spacing: 0.04em;
                                color: rgba(0, 0, 0, 0.4);

                            }

                            .follow {
                                width: 20px;
                                height: 20px;
                                background-image: url("../img/Vector-1.png");
                                background-repeat: no-repeat;
                                background-position: center;
                                cursor: pointer;
                                margin-left: 100px;
                            }

                            .send {
                                width: 20px;
                                height: 20px;
                                background-image: url("../img/Vector-2.png");
                                background-repeat: no-repeat;
                                background-position: center;
                                cursor: pointer;
                                margin-left: 40px;
                            }
                        }
                    }

                    .item-2 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .row-2 {
                    margin-top: 33px;
                    display: flex;
                    justify-content: space-between;

                    .item {
                        display: flex;
                        flex-direction: column;
                        margin: 0px;
                        width: calc(100%/3);

                        &:first-child {
                            margin-right: 20px;
                        }

                        &:last-child {
                            margin-left: 20px;
                        }

                        h1 {
                            font-family: 'Galien';
                            font-size: 28px;
                            line-height: 38px;
                            letter-spacing: 0.04em;
                            color: #1F3F68;
                        }

                        p {
                            // width: 140px;
                            font-family: 'Gilroy';
                            font-size: 16px;
                            line-height: 26px;
                            letter-spacing: 0.04em;
                            color: rgba(0, 0, 0, 0.6);
                        }

                        .view {
                            padding-top: 16px;
                            display: flex;
                            align-items: center;

                            p {
                                width: 122px;
                                font-family: 'Gilroy';
                                font-size: 14px;
                                line-height: 24px;
                                letter-spacing: 0.04em;
                                color: #1F3F68;
                            }

                            span {
                                font-family: 'Gilroy';
                                font-size: 14px;
                                line-height: 24px;
                                letter-spacing: 0.04em;
                                color: rgba(0, 0, 0, 0.4);

                            }

                            .follow {
                                width: 20px;
                                height: 20px;
                                background-image: url("../img/Vector-1.png");
                                background-repeat: no-repeat;
                                background-position: center;
                                cursor: pointer;
                                margin-left: 100px;
                            }

                            .send {
                                width: 20px;
                                height: 20px;
                                background-image: url("../img/Vector-2.png");
                                background-repeat: no-repeat;
                                background-position: center;
                                cursor: pointer;
                                margin-left: 40px;
                            }
                        }
                    }
                }

                .seeAll-title {
                    float: right;
                }

                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            }

            .other-content {
                h3 {
                    margin-top: 55px;
                    margin-bottom: 30px;
                    font-family: 'Gilroy';
                    font-size: 20px;
                    line-height: 25px;
                    letter-spacing: 0.04em;
                    color: #356EAD;
                    opacity: 0.8;
                }

                .row-3 {
                    display: flex;
                    flex-direction: column;

                    .item {
                        display: flex;
                        padding-bottom: 30px;

                        .wrap-1 {}

                        .wrap-2 {
                            padding-left: 20px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            h2 {
                                font-family: 'Galien';
                                font-size: 28px;
                                line-height: 38px;
                                letter-spacing: 0.04em;
                                color: #1F3F68;
                            }

                            p {
                                font-family: 'Gilroy';
                                font-size: 16px;
                                line-height: 26px;
                                letter-spacing: 0.04em;
                                color: rgba(0, 0, 0, 0.6);
                            }

                            .view {
                                padding-top: 16px;
                                display: flex;
                                align-items: center;

                                p {
                                    width: 122px;
                                    font-family: 'Gilroy';
                                    font-size: 14px;
                                    line-height: 24px;
                                    letter-spacing: 0.04em;
                                    color: #1F3F68;
                                }

                                span {
                                    font-family: 'Gilroy';
                                    font-size: 14px;
                                    line-height: 24px;
                                    letter-spacing: 0.04em;
                                    color: rgba(0, 0, 0, 0.4);

                                }

                                .follow {
                                    width: 20px;
                                    height: 20px;
                                    background-image: url("../img/Vector-1.png");
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    cursor: pointer;
                                    margin-left: 100px;
                                }

                                .send {
                                    width: 20px;
                                    height: 20px;
                                    background-image: url("../img/Vector-2.png");
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    cursor: pointer;
                                    margin-left: 40px;
                                }
                            }
                        }
                    }

                }

                .btn-next-back {
                    display: flex;
                    justify-content: space-between;

                    .btn-new-post {
                        display: flex;
                        align-items: center;

                        img {
                            width: 12px;
                            height: 12px;
                        }

                        p {
                            padding-left: 20px;
                            font-family: 'Gilroy';
                            font-size: 16px;
                            line-height: 20px;
                            letter-spacing: 0.04em;
                            color: #356EAD;
                        }
                    }

                    .btn-old-post {
                        display: flex;
                        align-items: center;

                        img {
                            width: 12px;
                            height: 12px;
                        }

                        p {
                            padding-right: 20px;
                            font-family: 'Gilroy';
                            font-size: 16px;
                            line-height: 20px;
                            letter-spacing: 0.04em;
                            color: #356EAD;
                        }
                    }
                }
            }

        }
    }

    .footer {
        margin-top: 100px;

        .line {
            display: flex;
            align-items: flex-start;
            padding-left: 0px;
            margin-left: 0px;
            width: 1073px;
            opacity: 0.4;
            border: 1px solid #FFFFFF;
        }

        .container {
            display: flex;
            flex-direction: column;
            width: 940px;
            height: 845px;
            margin: 0 auto;
            padding: 0 213px;
            background: #316099;
            background-size: 90%;
            border-radius: 0px 200px 0px 0px;

            .wrap-1 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 90px;
                width: 860px;

                h2 {
                    width: 330px;
                    height: 92px;
                    font-family: 'Gilroy';
                    font-size: 36px;
                    line-height: 46px;
                    letter-spacing: 0.05em;
                    color: #FFFFFF;
                }

                p {
                    margin-top: 32px;
                    width: 460px;
                    height: 80px;
                    font-family: 'Gilroy';
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0.05em;
                    color: #FFFFFF;
                    opacity: 0.6;
                }

                .btn-talk {
                    width: 220px;
                    height: 56px;
                    border: none;
                    background: #5A98D0;
                    border-radius: 10px;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        color: #FFFFFF;
                        text-decoration: none;
                    }
                }
            }

            .line {
                margin-top: 100px;
                margin-bottom: 100px;
                display: flex;
                align-items: flex-start;
                padding-left: 0px;
                margin-left: 0px;
                width: 1073px;
                opacity: 0.4;
                border: 1px solid #FFFFFF;
            }

            .wrap-2 {
                display: flex;

                .afrianska {
                    .title-footer {
                        display: flex;
                        margin-bottom: 42px;
                    }

                    h2 {
                        font-family: 'Gilroy';
                        font-size: 28px;
                        line-height: 46px;
                        letter-spacing: 0.02em;
                        color: #FFFFFF;
                    }

                    li {
                        display: flex;
                        font-family: 'Gilroy';
                        font-size: 16px;
                        line-height: 36px;
                        letter-spacing: 0.05em;
                        color: #FFFFFF;
                        width: 299px;

                        .abc {
                            margin-right: 16px;
                            font-weight: 900;
                        }

                        .text {
                            opacity: 0.6;
                        }
                    }


                    img {
                        width: 50px;
                        height: 50px;
                        margin-right: 16px;
                    }

                    display: flex;
                    flex-direction: column;
                }

                .about-us {
                    margin: 0 100px;

                    h2 {
                        font-family: 'Gilroy';
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: 0.05em;
                        color: #FFFFFF;
                        margin-bottom: 55px;
                    }

                    li {
                        font-family: 'Gilroy';
                        font-size: 16px;
                        line-height: 36px;
                        letter-spacing: 0.05em;
                        color: #FFFFFF;
                        opacity: 0.6;
                    }
                }

                .follow-us {
                    h2 {
                        font-family: 'Gilroy';
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: 0.05em;
                        color: #FFFFFF;
                        margin-bottom: 55px;
                    }

                    li {
                        font-family: 'Gilroy';
                        font-size: 16px;
                        line-height: 36px;
                        letter-spacing: 0.05em;
                        color: #FFFFFF;
                        opacity: 0.6;
                    }
                }
            }

            .signature {
                margin-top: 50px;

                font-family: 'Gilroy';
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.05em;
                color: #FFFFFF;
                opacity: 0.4;
            }
        }
    }
}