@font-face {
  font-family: "Galien";
  src: url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.eot");
  src: url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.woff") format("woff"), url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.svg#Galien") format("svg");
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-ExtraBold.eot");
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("Gilroy-ExtraBold.woff") format("woff"), url("Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Heavy.eot");
  src: local("Gilroy Heavy"), local("Gilroy-Heavy"), url("Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("Gilroy-Heavy.woff") format("woff"), url("Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-LightItalic.eot");
  src: local("Gilroy Light Italic"), local("Gilroy-LightItalic"), url("Gilroy-LightItalic.eot?#iefix") format("embedded-opentype"), url("Gilroy-LightItalic.woff") format("woff"), url("Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-ThinItalic.eot");
  src: local("Gilroy Thin Italic"), local("Gilroy-ThinItalic"), url("Gilroy-ThinItalic.eot?#iefix") format("embedded-opentype"), url("Gilroy-ThinItalic.woff") format("woff"), url("Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-BlackItalic.eot");
  src: local("Gilroy Black Italic"), local("Gilroy-BlackItalic"), url("Gilroy-BlackItalic.eot?#iefix") format("embedded-opentype"), url("Gilroy-BlackItalic.woff") format("woff"), url("Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-BoldItalic.eot");
  src: local("Gilroy Bold Italic"), local("Gilroy-BoldItalic"), url("Gilroy-BoldItalic.eot?#iefix") format("embedded-opentype"), url("Gilroy-BoldItalic.woff") format("woff"), url("Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("Gilroy-SemiBold.woff") format("woff"), url("Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-UltraLightItalic.eot");
  src: local("Gilroy UltraLight Italic"), local("Gilroy-UltraLightItalic"), url("Gilroy-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("Gilroy-UltraLightItalic.woff") format("woff"), url("Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-SemiBoldItalic.eot");
  src: local("Gilroy SemiBold Italic"), local("Gilroy-SemiBoldItalic"), url("Gilroy-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("Gilroy-SemiBoldItalic.woff") format("woff"), url("Gilroy-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("Gilroy-Light.woff") format("woff"), url("Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-MediumItalic.eot");
  src: local("Gilroy Medium Italic"), local("Gilroy-MediumItalic"), url("Gilroy-MediumItalic.eot?#iefix") format("embedded-opentype"), url("Gilroy-MediumItalic.woff") format("woff"), url("Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-ExtraBoldItalic.eot");
  src: local("Gilroy ExtraBold Italic"), local("Gilroy-ExtraBoldItalic"), url("Gilroy-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("Gilroy-ExtraBoldItalic.woff") format("woff"), url("Gilroy-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("Gilroy-Regular.woff") format("woff"), url("Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-HeavyItalic.eot");
  src: local("Gilroy Heavy Italic"), local("Gilroy-HeavyItalic"), url("Gilroy-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("Gilroy-HeavyItalic.woff") format("woff"), url("Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("Gilroy-Medium.woff") format("woff"), url("Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-RegularItalic.eot");
  src: local("Gilroy Regular Italic"), local("Gilroy-RegularItalic"), url("Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("Gilroy-RegularItalic.woff") format("woff"), url("Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-UltraLight.eot");
  src: local("Gilroy UltraLight"), local("Gilroy-UltraLight"), url("Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("Gilroy-UltraLight.woff") format("woff"), url("Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("Gilroy-Bold.woff") format("woff"), url("Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Thin.eot");
  src: local("Gilroy Thin"), local("Gilroy-Thin"), url("Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("Gilroy-Thin.woff") format("woff"), url("Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Black.eot");
  src: local("Gilroy Black"), local("Gilroy-Black"), url("Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("Gilroy-Black.woff") format("woff"), url("Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.btn-components {
  width: 220px;
  height: 56px;
  background: #5A98D0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  z-index: 100;
  border: none;
  cursor: pointer;
}
.btn-components a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.card-components {
  width: 380px;
  height: 525px;
  background: #FFFFFF;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-components .card-info {
  margin: 35px 0px;
  width: 284px;
  height: 241px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-components .card-info h3 {
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1F3F68;
}
.card-components .card-info p {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}
.card-components .card-info .btn-learn-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
}
.card-components .card-info .btn-learn-more p {
  font-family: "Gilroy";
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
}
.card-components .card-info .btn-learn-more img {
  width: 16px;
  height: 16px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .container {
  width: 1366px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
body .container .header {
  width: 100%;
  height: 130px;
  padding: 0px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .container .header .header-logo {
  display: block;
}
body .container .header .drop-menu {
  display: block;
}
body .container .wrap-aside {
  background: linear-gradient(0deg, #98C3E8 -65.84%, rgba(152, 195, 232, 0) 31.12%);
}
body .container .wrap-aside .asides {
  padding: 0px 213px;
  background-image: url("../img/illustration.png");
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 638px;
}
body .container .wrap-aside .asides .aside {
  width: 100%;
  height: 100%;
}
body .container .wrap-aside .asides .aside h1 {
  padding-top: 80px;
  width: 510px;
  font-family: "Galien";
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  margin: 0px;
  margin-bottom: 50px;
}
body .container .wrap-aside .asides .aside p {
  width: 425px;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
  margin-bottom: 80px;
}
body .container .wrap-main {
  padding: 0px 213px;
}
body .container .wrap-main .main {
  margin: 180px 0px;
  width: 100%;
  height: 1162px;
  display: flex;
  align-content: space-around;
  justify-content: space-between;
  flex-wrap: wrap;
}
body .container .wrap-main .main h2 {
  width: 358px;
  height: 138px;
  font-family: "Gilroy";
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #316099;
}
body .container .wrap-main .main .card-center {
  padding-top: 60px;
  position: relative;
  top: -290px;
  right: -80px;
}
body .container .wrap-main .main .card {
  padding-top: 60px;
}
body .container .wrap-main .main-2 .description {
  display: flex;
}
body .container .wrap-main .main-2 .description h3 {
  width: 227px;
  height: 92px;
  font-family: "Gilroy";
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  margin-right: 93px;
}
body .container .wrap-main .main-2 .description p {
  width: 540px;
  height: 80px;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}
body .container .wrap-main .main-2 .img-smart-home {
  margin-top: 100px;
  background-image: url("../img/smart-home.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 424px;
}
body .container .wrap-main .main-2 .img-smart-home .description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 48px;
}
body .container .wrap-main .main-2 .img-smart-home .description h4 {
  margin-top: 48px;
  display: block;
  font-family: "Gilroy";
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
body .container .wrap-main .main-2 .img-smart-home .description h5 {
  display: block;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}
body .container .wrap-main .main-2 .mask-group {
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
}
body .container .wrap-main .main-2 .mask-group .mask-1 {
  width: 422px;
  height: 417px;
  background-image: url("../img/mask-1.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 25px;
}
body .container .wrap-main .main-2 .mask-group .mask-1 h4 {
  font-family: "Gilroy";
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
body .container .wrap-main .main-2 .mask-group .mask-1 p {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}
body .container .wrap-main .main-2 .mask-group .mask-2 {
  width: 422px;
  height: 417px;
  background-image: url("../img/mask-2.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 25px;
}
body .container .wrap-main .main-2 .mask-group .mask-2 h4 {
  font-family: "Gilroy";
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
body .container .wrap-main .main-2 .mask-group .mask-2 p {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}
body .container .wrap-footer {
  margin-top: 190px;
  width: 100%;
  height: 1552px;
  background: #5A98D0;
  border-radius: 200px 0px 0px 0px;
}
body .container .wrap-footer .wraper .description {
  padding: 100px 213px 0px 213px;
  display: flex;
}
body .container .wrap-footer .wraper .description h4 {
  width: 223px;
  height: 92px;
  font-family: "Gilroy";
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-right: 100px;
}
body .container .wrap-footer .wraper .description p {
  width: 540px;
  height: 80px;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}
body .container .wrap-footer .wraper .grid-logo-client {
  padding: 0px 213px;
  margin-top: 110px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 256px;
}
body .container .wrap-footer .wraper .grid-logo-client .logo-client {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 50%;
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
body .container .wrap-footer .wraper .grid-logo-client .logo-1 {
  border-right: 1px solid rgba(255, 255, 255, 0.3568627451);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3568627451);
}
body .container .wrap-footer .wraper .grid-logo-client .logo-1:hover {
  background: rgba(31, 63, 104, 0.2078431373);
}
body .container .wrap-footer .wraper .grid-logo-client .logo-2 {
  border-right: 1px solid rgba(255, 255, 255, 0.3568627451);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3568627451);
}
body .container .wrap-footer .wraper .grid-logo-client .logo-2:hover {
  background: rgba(31, 63, 104, 0.2078431373);
}
body .container .wrap-footer .wraper .grid-logo-client .logo-3 {
  border-right: 1px solid rgba(255, 255, 255, 0.3568627451);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3568627451);
}
body .container .wrap-footer .wraper .grid-logo-client .logo-3:hover {
  background: rgba(31, 63, 104, 0.2078431373);
}
body .container .wrap-footer .wraper .grid-logo-client .logo-4 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3568627451);
}
body .container .wrap-footer .wraper .grid-logo-client .logo-4:hover {
  background: rgba(31, 63, 104, 0.2078431373);
}
body .container .wrap-footer .wraper .grid-logo-client .logo-5 {
  border-right: 1px solid rgba(255, 255, 255, 0.3568627451);
}
body .container .wrap-footer .wraper .grid-logo-client .logo-5:hover {
  background: rgba(31, 63, 104, 0.2078431373);
}
body .container .wrap-footer .wraper .grid-logo-client .logo-6 {
  border-right: 1px solid rgba(255, 255, 255, 0.3568627451);
}
body .container .wrap-footer .wraper .grid-logo-client .logo-6:hover {
  background: rgba(31, 63, 104, 0.2078431373);
}
body .container .wrap-footer .wraper .grid-logo-client .logo-7 {
  border-right: 1px solid rgba(255, 255, 255, 0.3568627451);
}
body .container .wrap-footer .wraper .grid-logo-client .logo-7:hover {
  background: rgba(31, 63, 104, 0.2078431373);
}
body .container .wrap-footer .wraper .grid-logo-client .logo-8 {
  background: rgba(31, 63, 104, 0.2078431373);
}
body .container .wrap-footer .wraper .footer {
  margin-top: 125px;
  width: 1270px;
  height: 869px;
  background: #316099;
  border-radius: 0px 200px 0px 0px;
  display: flex;
  flex-direction: column;
}
body .container .wrap-footer .wraper .footer .footer-1 {
  margin-top: 100px;
  display: flex;
}
body .container .wrap-footer .wraper .footer .footer-1 .description-footer {
  padding: 0px 213px;
  display: flex;
  flex-direction: column;
}
body .container .wrap-footer .wraper .footer .footer-1 .description-footer h4 {
  width: 317px;
  height: 92px;
  font-family: "Gilroy";
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
body .container .wrap-footer .wraper .footer .footer-1 .description-footer p {
  margin-top: 30px;
  width: 460px;
  height: 80px;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}
body .container .wrap-footer .wraper .footer .footer-1 .btn-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .container .wrap-footer .wraper .footer .line {
  margin-top: 100px;
  border: 1px solid rgba(255, 255, 255, 0.2901960784);
  width: 1105px;
}
body .container .wrap-footer .wraper .footer .footer-2 {
  margin-top: 100px;
}
body .container .wrap-footer .wraper .footer .footer-2 .wrap-2 {
  padding: 0px 213px;
  display: flex;
}
body .container .wrap-footer .wraper .footer .footer-2 .wrap-2 .afrianska {
  display: flex;
  flex-direction: column;
}
body .container .wrap-footer .wraper .footer .footer-2 .wrap-2 .afrianska .title-footer {
  display: flex;
  margin-bottom: 42px;
}
body .container .wrap-footer .wraper .footer .footer-2 .wrap-2 .afrianska h2 {
  font-family: "Gilroy";
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
body .container .wrap-footer .wraper .footer .footer-2 .wrap-2 .afrianska li {
  display: flex;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  width: 299px;
}
body .container .wrap-footer .wraper .footer .footer-2 .wrap-2 .afrianska li .abc {
  margin-right: 16px;
  font-weight: 900;
}
body .container .wrap-footer .wraper .footer .footer-2 .wrap-2 .afrianska li .text {
  opacity: 0.6;
}
body .container .wrap-footer .wraper .footer .footer-2 .wrap-2 .afrianska img {
  width: 50px;
  height: 50px;
  margin-right: 16px;
}
body .container .wrap-footer .wraper .footer .footer-2 .wrap-2 .about-us {
  margin: 0 100px;
}
body .container .wrap-footer .wraper .footer .footer-2 .wrap-2 .about-us h2 {
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 55px;
}
body .container .wrap-footer .wraper .footer .footer-2 .wrap-2 .about-us li {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}
body .container .wrap-footer .wraper .footer .footer-2 .wrap-2 .follow-us h2 {
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 55px;
}
body .container .wrap-footer .wraper .footer .footer-2 .wrap-2 .follow-us li {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}
body .container .wrap-footer .wraper .footer .footer-2 .signature {
  padding: 0px 213px;
  margin-top: 50px;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.4;
}/*# sourceMappingURL=style.css.map */