@import url(//db.onlinewebfonts.com/c/d1243736bfe07b546f8f1e54e7804afb?family=Galien);
@import url(//db.onlinewebfonts.com/c/0744a43ed7aac352ec78c1404c890d72?family=Gilroy+Light);
@font-face {
  font-family: "Galien";
  src: url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.eot");
  src: url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.woff") format("woff"), url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.svg#Galien") format("svg");
}
@font-face {
  font-family: "Gilroy";
  src: url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.eot");
  src: url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.woff") format("woff"), url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.svg#Gilroy Light") format("svg");
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.btn-components {
  width: 220px;
  height: 56px;
  background: #5A98D0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  z-index: 100;
  border: none;
  cursor: pointer;
}
.btn-components a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .container {
  width: 1366px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
body .container .header {
  width: 100%;
  height: 130px;
  padding: 0px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .container .header .header-logo {
  display: block;
}
body .container .header .drop-menu {
  display: block;
}
body .container .aside {
  width: 100%;
  height: 250px;
  background-image: url("../img/Mask-Group.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .container .aside h1 {
  font-family: "Gilroy";
  font-size: 44px;
  line-height: 74px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin: 0px;
  margin-bottom: 10px;
}
body .container .aside p {
  width: 780px;
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}
body .container .main {
  margin-top: 60px;
  padding: 0px 213px;
  display: flex;
  flex-wrap: wrap;
}
body .container .main .about-us {
  width: 40%;
}
body .container .main .about-us .img-about {
  margin: 80px 0px;
}
body .container .main .about-us .addres h3 {
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}
body .container .main .about-us .addres p {
  margin: 25px 0px;
  width: 299px;
  height: 53px;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
}
body .container .main .about-us .phone {
  margin: 40px 0px;
}
body .container .main .about-us .phone .number {
  margin: 15px 0px;
  display: flex;
  align-items: center;
}
body .container .main .about-us .phone img {
  margin-right: 19px;
  width: 20px;
  height: 20px;
}
body .container .main .about-us .phone h3 {
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}
body .container .main .about-us .phone p {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
}
body .container .main .about-us .online-service {
  margin: 40px 0px;
}
body .container .main .about-us .online-service .number {
  margin: 15px 0px;
  display: flex;
  align-items: center;
}
body .container .main .about-us .online-service img {
  margin-right: 19px;
  width: 20px;
  height: 20px;
}
body .container .main .about-us .online-service h3 {
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}
body .container .main .about-us .online-service p {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
}
body .container .main .modal-send-message {
  width: 60%;
  height: 800px;
  background: #FFFFFF;
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding: 55px;
}
body .container .main .modal-send-message h2 {
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  margin-bottom: 50px;
}
body .container .main .modal-send-message p {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.8;
  margin-bottom: 5px;
}
body .container .main .modal-send-message input {
  width: 428px;
  height: 72px;
  opacity: 0.4;
  border: 1px solid #356EAD;
  border-radius: 10px;
  margin-bottom: 30px;
}
body .container .main .modal-send-message input::-moz-placeholder {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
  padding: 40px;
}
body .container .main .modal-send-message input:-ms-input-placeholder {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
  padding: 40px;
}
body .container .main .modal-send-message input::placeholder {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
  padding: 40px;
}
body .container .main .modal-send-message input:last-child {
  width: 428px;
  height: 144px;
  opacity: 0.4;
  border: 1px solid #356EAD;
  border-radius: 10px;
}
body .container .main .modal-send-message button {
  margin-top: 60px;
  width: 428px;
  height: 72px;
  background: #5A98D0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  border: none;
}
body .container .main .modal-send-message button a {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  text-decoration: none;
}
body .container .main .navigation {
  width: 100%;
  margin-top: 100px;
}
body .container .footer {
  margin-top: 125px;
  width: 1270px;
  height: 869px;
  background: #316099;
  border-radius: 0px 200px 0px 0px;
  display: flex;
  flex-direction: column;
}
body .container .footer .footer-1 {
  margin-top: 100px;
  display: flex;
}
body .container .footer .footer-1 .description-footer {
  padding: 0px 213px;
  display: flex;
  flex-direction: column;
}
body .container .footer .footer-1 .description-footer h4 {
  width: 340px;
  height: 92px;
  font-family: "Gilroy";
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
body .container .footer .footer-1 .description-footer p {
  margin-top: 30px;
  width: 460px;
  height: 80px;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}
body .container .footer .footer-1 .btn-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .container .footer .line {
  margin-top: 100px;
  border: 1px solid rgba(255, 255, 255, 0.2901960784);
  width: 1105px;
}
body .container .footer .footer-2 {
  margin-top: 100px;
}
body .container .footer .footer-2 .wrap-2 {
  padding: 0px 213px;
  display: flex;
}
body .container .footer .footer-2 .wrap-2 .afrianska {
  display: flex;
  flex-direction: column;
}
body .container .footer .footer-2 .wrap-2 .afrianska .title-footer {
  display: flex;
  margin-bottom: 42px;
}
body .container .footer .footer-2 .wrap-2 .afrianska h2 {
  font-family: "Gilroy";
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
body .container .footer .footer-2 .wrap-2 .afrianska li {
  display: flex;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  width: 299px;
}
body .container .footer .footer-2 .wrap-2 .afrianska li .abc {
  margin-right: 16px;
  font-weight: 900;
}
body .container .footer .footer-2 .wrap-2 .afrianska li .text {
  opacity: 0.6;
}
body .container .footer .footer-2 .wrap-2 .afrianska img {
  width: 50px;
  height: 50px;
  margin-right: 16px;
}
body .container .footer .footer-2 .wrap-2 .about-us {
  margin: 0 100px;
}
body .container .footer .footer-2 .wrap-2 .about-us h2 {
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 55px;
}
body .container .footer .footer-2 .wrap-2 .about-us li {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}
body .container .footer .footer-2 .wrap-2 .follow-us h2 {
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 55px;
}
body .container .footer .footer-2 .wrap-2 .follow-us li {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}
body .container .footer .footer-2 .signature {
  padding: 0px 213px;
  margin-top: 50px;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.4;
}/*# sourceMappingURL=style.css.map */